/* === GLOBAL SETTINGS === */

:root {
    --accent1: #ffdf01;
    --accent2: #6C58ED;

    --header-height: 5em;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* === HEADER === */

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    box-shadow: 0 7px 7px -7px gray;
    margin-bottom: 32px;
}

.logo {
    height: 50%;
    width: auto;
    padding: 16px;
}

/* === MAIN BODY === */

.main {
    display: flex;
    padding: 32px;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1200px;
    margin: auto;
}

    /* === LANDING PAGE === */

.first {
    display: flex;
    flex-direction: column;

    height: calc(100vh - var(--header-height));
    padding-bottom: var(--header-height); /* Accurately Centres Content */

    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
}

.introducing {
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1em;
}

.dot {
    color: var(--accent1);
    font-size: 2.5em;
    margin-left: -15px;
}

.contact {
    display: flex;
    flex-direction: row;
}